<div class="cont1" style="background-image: url({{bg}});">
  <div class="cont2">
    <h1>Inicia sesión</h1>
    <span class="p-float-label">
      <input pInputText id="username" class="input1" (ngModel)="userName" />
      <label htmlFor="username" class="label1">Nombre de usuario</label>
    </span>

    <span class="p-float-label">
      <label htmlFor="username" class="label1">Password</label>
      <input pInputText id="username" class="input1" (ngModel)="password" type="password" />
    </span>

    <a href="#">Ha olvidado su contraseña?</a>
    <button class="btn1" routerLink="/dashboard">Log In</button>
  </div>
</div>
