.cont1{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 241, 84, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont2{
   background-color: white;
   border-radius: 20px; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   border: 3px solid black;
}

.p-float-label{
    margin-top: 20px;
}
.input1{
    border-radius: 25px;
    height:40px;
    border: 2px solid black;
    background-color: rgba(255, 241, 84, 0.8);
    padding: 10px;
    font-size: medium;
    color: black;
}

.label1{

    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.btn1{
    margin: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: var(--amarillo);
    color: black;
    font-size: medium;
    border-radius: 20px;
}

.btn1:hover{
    background-color: black;
    border-color: var(--amarillo);
    color: var(--amarillo);
}

@media screen and (min-width: 767px) {
    .cont2{
        width: 450px;
        height: 550px;
    }
}

@media screen and (max-width: 575px) {    
    .cont2{
        width: 350px;
        height: 500px;
    }
}