<h2>Solicitudes de usuarios</h2>

<div class="card3">
    <h3>Un lugar</h3>
    <div class="contimg">
        <div><i class="pi pi-images"></i></div>
        <div><i class="pi pi-images"></i></div>
        <div><i class="pi pi-images"></i></div>
    </div>
    <p> <span><i class="pi pi-user"></i></span><strong> Propietario:</strong> Nombre</p>
    <p><span><i class="pi pi-tags"></i></span><strong> Cartegotia:</strong></p>
    <p><span><i class="pi pi-compass"></i></span><strong> dirección:</strong> una dirección corta aquí</p>
    <div class="contimg">
        <button class="active">
            Revisar
        </button>
        <button class="btn2">
            Confirmar
        </button>
    </div>
    
</div>